<!DOCTYPE html>
<html lang="<%= theme.language %>">
  <head>
    <!--  head  -->
    <%- partial('_partial/head') %>
  </head>
  <body>
    <div id="loading-container">
        <img src="/image/loading.gif">
    </div>
    <div class="whole-page-container">
      <!--  header  -->
      <%- partial('_partial/header') %>
      <!--  index.ejs  -->
      <%- body %>
      <!--  footer  -->
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>