<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<% var title = "Undefined"; %>
<% if (is_home()) { %>
<% title = "Homepage" %>
<% } else if (is_page()) { %>
<% title = page.title %>
<% } else if (is_post()) { %>
<% title = page.title %>
<% console.log(page.title) %>
<% } %>
<title> Peter Hou | <%- title %> </title>

<link rel="icon" type="image/svg" href="/image/logo.svg">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7TG98WMNFM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7TG98WMNFM');
</script>

<!-- for fonts -->

<!-- for icons -->
<script src="https://kit.fontawesome.com/7a3299a1e5.js" crossorigin="anonymous"></script>

<!-- for mottos -->
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

<%# load css %>
<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
      <% theme.stylesheets.forEach(url => { %>
            <link rel="stylesheet" href="<%= url_for(url) %>">
      <% }); %>
<% } %>

<%# load javascript %>
<script src="<%- url_for(theme.scripts[0]) %>"></script>
<% if (is_home()) { %>
      <script src="<%- url_for(theme.scripts[1]) %>"></script>
<% } else { %>
      <script src="<%- url_for(theme.scripts[2]) %>"></script>
<% } %>